*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #5a2323;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(img/fondo.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}
p {
    margin-bottom:0px;
    font-size: 18px;
    padding: 0 100px;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sono', sans-serif;
    text-align: left;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 10rem;
    width: 15rem;
    background: #0c0c0c;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url(img/fondo.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    } 
}
.texto {
    font-family: 'Sono', sans-serif;
}
.navbar li a:hover{
    background-color: #3f3f3f;
}
.article{
    max-width: 65ch;
    margin:0 auto;
  }
  
  p{
    line-height: 1.5;
  }
  
  .text-align-justify{
     text-align:justify;
  }
  
  .text-align-left{
    text-align: left;
  }
  .circular--square {
    border-radius: 50%;
    
  }
  .nav > li {
    float: left;
  }
  .encabezado {
    padding-top: 50px;
    background: #171717;
    padding-bottom: 0;
}
.imagen {
    width:150px;
    height:110px;
    float: right;
    margin: 10px;
    border-radius: 100%;
}
.fondo2 {
    background: url(img/fondo3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.el {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saus{
    padding: 20px;
    background: #1f1d1d
}
.ele {
    height: 190vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sauss{
    padding: 20px;
    background: #1f1d1d
}
.fondo3 {
    background: url(img/fondo4.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.fondo4 {
    background: url(img/fondo5.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.fondo5 {
    background: url(img/fondo6.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.fondo6 {
    background: url(img/fondo7.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.fondo7 {
    background: url(img/cascadas.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.fondo8 {
    background: url(img/fondo8.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}